<!-- Modal starts -->
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <!-- Modal form control starts -->
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <!-- Modal header starts -->
            <div class="modal-header">
                <h5 class="modal-title">Create Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cross click')">
                </button>
            </div>
            <!-- Modal header ends -->
            <!-- Modal Body starts -->
            <div class="modal-body">
                <div class="form-group">
                    <label>Name*</label>
                    <input
                        type="text"
                        formControlName="name"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                    />
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <input
                        type="text"
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                    />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Region*</label>
                    <ngx-select 
                        [items]="regionData"
                        formControlName="region"
                        optionValueField="region"
                        optionTextField="region"
                        placeholder="Select region"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['region'].errors }">
                    </ngx-select>
                    <div *ngIf="submitted && f['region'].errors" class="invalid-feedback">
                        <div *ngIf="f['region'].errors['required']">Region is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Country*</label>
                    <ngx-select 
                        [items]="countryData"
                        formControlName="country"
                        optionValueField="country"
                        optionTextField="country"
                        placeholder="Select country"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
                    </ngx-select>
                    <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                        <div *ngIf="f['country'].errors['required']">Country is required</div>
                    </div>
                </div>
            </div>
            <!-- Modal body ends -->
             <!-- Modal Footer starts -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Close click')">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            <!-- Modal Footer ends -->
        </form>
        <!-- Modal form control ends -->
    </div>
</div>
<!-- Modal ends -->